@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "tailwindcss";


/* Always dark colors */
:root {
  --background: #faf7f2;  
  --foreground: #3a3a3a;  
/* 
  --background: #e8e2d8;
  --foreground: #5f564d;   */
}

/* Optional: theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cardo: var(--font-cardo);
}

@layer utilities {
  .font-cormorant {
    font-family: 'Cormorant Garamond', Georgia, serif;
  }
}

/* Remove dark/light preference media query */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
